.carousel-control-prev {
    left: 0;
}
.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}
.input-group-icon .input-box-icon {
 
    right: 80%!important;
    color: #60697a !important;
    
  
}